<form
  action="/generate#result"
  method="post"
  accept-charset="utf-8"
  class="character-form"
>
  <section id="general" class="character-section general-section">
    <div class="character-section-header">
      <h3>General</h3>
      <button class="button small" type="button" onclick="resetValues('general')">
        Reset
      </button>
    </div>
    <div class="info">
      <p>Empty fields are generated randomly.</p>
    </div>
    <div class="flex row input-row">
      <label>Gender</label>
      <select name="gender">
        <option value="male" {{if eq .Gender "male"}}selected{{end}}>Male</option>
        <option value="female" {{if eq .Gender "female"}}selected{{end}}>Female</option>
      </select>
    </div>
    <div class="flex row input-row">
      <label>Name</label>
      <input
        id="name"
        type="text"
        name="name"
        placeholder="eg. Peter Shaw"
        value="{{.Name}}"
      />
    </div>
    <div class="flex row input-row">
      <label>Age</label>
      <input
        id="age"
        type="number"
        name="age"
        placeholder="Age"
        value="{{.Age}}"
      />
    </div>
  </section>
  <section id="stats" class="character-section stats-section">
    <div class="character-section-header">
      <h3>Stats</h3>
      <button class="button small" type="button" onclick="resetValues('stats')">
        Reset
      </button>
    </div>
    <div class="info">
      <p>
        Stats are generated randomly if not provided or 0. Reset them to
        generate new ones.
      </p>
    </div>
    <div class="flex row input-row">
      <label><b>Str</b>ength</label>
      <input type="number" name="str" value="{{.Stats.STR}}" />
    </div>
    <div class="flex row input-row">
      <label><b>Dex</b>terity</label>
      <input type="number" name="dex" value="{{.Stats.DEX}}" />
    </div>
    <div class="flex row input-row">
      <label><b>Con</b>stitution</label>
      <input type="number" name="con" value="{{.Stats.CON}}" />
    </div>
    <div class="flex row input-row">
      <label><b>Siz</b>e</label>
      <input type="number" name="siz" value="{{.Stats.SIZ}}" />
    </div>
    <div class="flex row input-row">
      <label><b>Int</b>elligence</label>
      <input type="number" name="intl" value="{{.Stats.INT}}" />
    </div>
    <div class="flex row input-row">
      <label><b>Wis</b>dom</label>
      <input type="number" name="wis" value="{{.Stats.WIS}}" />
    </div>
    <div class="flex row input-row">
      <label><b>Cha</b>risma</label>
      <input type="number" name="cha" value="{{.Stats.CHA}}" />
    </div>
    <div class="flex row">
      <button class="button large" type="submit">Generate</button>
    </div>
  </section>
</form>
